:host {
  display: block;
  box-sizing: border-box;
}

span {
  color: var(--primary-color);
  font-family: "Fira Sans", sans-serif;
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
  line-height: 1.6875rem;
  letter-spacing: 0.02rem;
  min-width: 10rem;
  display: inline-flex;
  align-items: center;
  flex-direction: row;
}

h2 {
  margin-bottom: -1.5rem;
}

span > svg {
  margin-right: 0.5rem;
}

picture {
  margin-left: 2rem;
}

img {
  width: 18rem;
}