:host {
  display: block;
}

img {
  width: 16rem;
}

picture {
  width: 40%;
  display: flex;
  justify-content: center;
}

div {
  width: 60%;
}

@media screen and (max-width: 778px) {
  section {
    margin-top: -6rem;
  }

  div {
    width: 100%;
  }

  picture {
    width: 0%;
    visibility: hidden;
  }
}