<section class="flex w-100">
    <picture>
        <img src="assets/images/ehvidalp-aboutme.png" alt="Edward About me">
    </picture>
    <div class="flex flex-column justify-center">
        <h2 class="subtitle">About me</h2>
        <p class="text mt-lg">
            With 5 years of experience in software development, I understand that an exceptional product requires a
            holistic vision. That's why I immerse myself in all facets of the creative process, from design to
            architecture and development.
        </p>
    </div>
</section>