:host {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
}

section {
  padding: var(--mb-sm) 18px 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  box-sizing: border-box;
  display: flex;
  width: 100%;
}

.expand {
  max-height: 20rem;
}

button {
  border-radius: var(--mb-sm);
  border: 1px solid var(--primary-color);
  background: transparent;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.75rem 1rem;
  color: var(--primary-color);
  font-family: "Poppins" sans-serif;
  font-size: var(--font-size-sm);
  font-weight: 500;
  cursor: pointer;
  position: relative;
  transition: background 0.3s ease-in-out;
  box-sizing: border-box;

}

button:hover {
  background: var(--primary-color);
  color: var(--white-color);
  transition: background 0.3s ease-in-out;
}

button:hover svg {
  fill: var(--white-color);
}

svg {
  position: absolute;
  right: 1rem;
  top: 45%;
}

.rotate {
  transform: rotate(180deg);
  transition: transform 0.3s ease-in-out;
}

.active-dropdown {
  background: var(--primary-color);
  color: var(--white-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}