<header>
    <span>{{'
        <'+'E d w a r d />'}}
    </span>

    <div class="position-relative">
        <select #languageSelect [(ngModel)]="currentLanguage" (change)="changeLanguage($event)">
            @for (language of listLanguages(); track $index) {
            <option [value]="language">{{ language }}</option>
            }
        </select>
    </div>

    <button type="button" (click)="changeTheme()" [ngClass]="{'change-theme-light': isDarkTheme()}"
        aria-label="Change theme">
        <ng-lottie [width]="isDarkTheme() ? '2.3rem': '2rem'" [height]="isDarkTheme() ? '2.3rem': '2rem'"
            [options]="lightDarkIcon" (animationCreated)="animationCreated($event)" class="light-dark-icon" />
    </button>
</header>