:host {
  display: block;
}

header {
  margin-top: 2.5rem;
  display: flex;
  align-items: center;
}

header span:first-child {
  color: #000;
  font-family: "Poppins", sans-serif;
  font-size: var(--font-size-sm);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: auto;
}

header div,
header button {
  margin-left: 1rem;
}

header div {
  cursor: pointer;
  width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}


select {
  border: none;
  background-color: transparent;
  outline: none;
  color: #000;
  font-family: "Poppins", sans-serif;
  font-size: var(--font-size-sm);
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 0.5rem;
  cursor: pointer;
  padding: 0.5rem 1.5rem 0.5rem 0.5rem;
  z-index: 1;
  text-transform: capitalize;
}

option {
  font-family: "Poppins", sans-serif;
  color: #000;
  font-size: var(--font-size-sm);
  padding: 0 0.5rem;
  text-transform: capitalize;
}

.language-icon {
  padding-top: 0.5rem;
}