
:host {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
}
main {
    max-width: var(--max-width);
    display: flex;
    flex-direction: column;
    width: 100%;
    align-self: center;
    padding: 3rem 4rem 2rem;
    box-sizing: border-box;
}

@media screen and (max-width: 450px) {
    main {
        padding: var(--mb-xl) var(--mb-lg) var(--mb-lg);
    }
}