
:host {
    display: flex;
    flex-direction: column;
    width: 100%;
}
main {
    max-width: var(--max-width);
    display: flex;
    flex-direction: column;
    width: 100%;
    align-self: center;
    padding: 3rem 4rem 2rem;
    box-sizing: border-box;
}