:host {
  display: block;
}

p {
  max-width: 40rem;
}

.container-skills {
  display: grid;
  margin-top: 1rem;
  box-sizing: border-box;
  grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
  gap: 1rem;
}