h2 {
  margin-top: 8rem;
}



:host {
  display: block;
}

p {
  max-width: 40rem;
}

.container-skills {
  display: grid;
  margin-top: var(--mb-md);
  box-sizing: border-box;
  grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
  gap: var(--mb-xs);
}

div > span {
  font-size: var(--font-size-xs);
}

@media screen and (max-width: 778px) {
  h2 {
    margin-top: var(--mb-sm);
  }
}

