:host {
  display: block;
}

p {
  width: 50%;
}

ul {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  max-width: 5rem;
}

img {
  width: 100%;
  object-fit: contain;
}

@media screen and (max-width: 768px) {
  section {
    flex-direction: column;
    align-items: flex-start;
  }
  
  picture {
    margin-top: var(--mb-md);
    justify-content: flex-start;
  }

  p {
    width: 100%;
  }

  ul {
    width: 100%;
    margin-top: var(--mb-sm);
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--mb-md)
  }
}
