<h2 [translate]="'certification.title'" class="subtitle mt-md"></h2>
<section class="flex w-100 align-center">
    <p [translate]="'certification.description'" class="text mt-md"></p>

    <ul>
        @for (certification of certifications; track $index) {
            <li>
                <a [href]="certification.link" target="_blank" >
                    <img [src]="'assets/images/' + certification.image" [alt]="certification.name">
                </a>
            </li>
        }
        
    </ul>
</section>