<section class="flex w-100">
    <div class="flex flex-column flex-justify-center w-50">
        <h1 class="title">Hi! I'm </h1>
        <h1 class="title">Edward Vidal</h1>
        <h3 class="subtitle-md mt-xs">Software Engineer</h3>
        <p class="text mt-m">
            Passionate about technology and philosophy, I find inspiration in both to create innovative solutions. 
        </p>
    </div>
    <div class="flex flex-column w-50 position-relative flex-center min-h-container">
        <img class="position-absolute z-index-2" src="assets/images/ehvidalp-happy.png" />
        <app-stain class="position-absolute z-index-1"></app-stain>
    </div>
</section>